<div class="container justify-content-center align-items-center">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-header bg-primary text-white text-center">
            <h4>Iniciar Sesión</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
              <!-- Campo de Email -->
              <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" id="email" class="form-control" placeholder="Ingresa tu correo" [(ngModel)]="usuario.email" name="email" #nombre="ngModel"/>
              </div>
  
              <!-- Campo de Contraseña -->
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" class="form-control" placeholder="Ingresa tu contraseña" [(ngModel)]="usuario.password" name="password" #nombre="ngModel"/>
              </div>
  
              <!-- Botón de Login -->
               <div class="d-grid">
                <button class="btn btn-primary">Ingresar</button>
               </div>
              <!-- <div class="d-grid">
                <a routerLink="/usuarios" type="submit" class="btn btn-primary" >Ingresar</a>
              </div> -->
            </form>
          </div>
          <div class="card-footer text-center">
            <small>¿No tienes cuenta? 
                <a routerLink="/registro" style="cursor: pointer;">Regístrate aquí</a>
              </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  